[submodule "src/library/OsvvmLibraries"]
	path = src/library/OsvvmLibraries
	url = https://github.com/osvvm/OsvvmLibraries
[submodule "src/library/open-logic"]
	path = src/library/open-logic
	url = https://github.com/open-logic/open-logic.git
